[package]
name = "trino-rust-client"
version = "0.0.1"
authors = ["nudibranches technologies <contact@nudibranches.tech"]
edition = "2021"
description = "A trino client library"
license = "MIT"
repository = "https://github.com/nudibranches-tech/trino-rust-client"
homepage = "https://github.com/nudibranches-tech/trino-rust-client"
documentation = "https://docs.rs/trino-rust-client"
keywords = ["trino"]
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "trino-rust-client-macros"]

[features]
default = []
Trino = []

[dependencies]
# self dependencies
trino-rust-client-macros = { version = "0.3", path = "trino-rust-client-macros"}
# third party dependencies
serde = { version = "1.0", features = ["derive"]}
serde_json = "1.0"
derive_more = {version = "1.0.0", features = ["full"]}
bigdecimal = "0.4.6"
thiserror = "2.0.5"
chrono = "0.4"
chrono-tz = "0.10"
iterable = "0.6"
log = "0.4"
lazy_static = "1.4"
regex = "1.5"
# network dependencies
reqwest = { version = "0.12.9", default-features = false, features = ["rustls-tls", "json"]}
futures = "0.3"
http = "1.2"
tokio = { version = "1.16", features = ["full"]}
urlencoding = "2.1"
uuid = { version = "1.2", features = ["serde", "v4"] }
paste = "1.0.14"

[dev-dependencies]
trybuild = "1.0"
maplit = "1.0"
dotenv = "0.15"
